cache/
env/
.venv/
ENVIRONMENT
environments.json
environments.json.lock
user.settings.json
user.settings.json.lock
*.pyc
*.pyd
*.pyo
*.pyz
utils/__pycache__
__pycache__

*.lnk
node_modules/

ComfyUI/
.DS_Store

*.bak
*.log